* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
.App {
    display: flex;
}
.left {
    width: 75px;
    border-right: 1px solid #dadfe6;
    background-color: #fff;
}
.center {
    width: calc(100vw - 75px);
    overflow-y: scroll;
}
.center .header {
    height: 75px;
    line-height: 75px;
    padding: 0 40px;
    font-size: 27px;
    color: #0086f6;
    background-color: #fff;
}
.center .main {
    height: calc(100vh - 75px);
}
.center .main .search_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 190px;
    height: fit-content;
    padding: 0 135px 40px;
    background: #fff;
}
.main .search_box .filters {
    display: flex;
    height: fit-content;
}
.search_box .filters > * {
    flex: 2;
    height: 60px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.search_box .filters .from_and_to {
    flex: 5;
    margin-right: 40px;
}
.search_box .filters .start_time {
    margin-right: 40px;
}
.center .main .search_result {
    min-height: calc(100% - 190px);
    height: fit-content;
    padding: 0 135px 20px;
    background-color: #eef1f6;
}
.search_result .result_list .title {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}
.search_result .result_list .list {
    height: fit-content;
}
.result_list .list .ticket {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin-bottom: 2px;
    transition: all linear 0.1s;
}
.result_list .list .ticket:hover {
    position: relative;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
}
.list .ticket > * {
    flex: 1;
    text-align: center;
}
.ticket > .company {
    margin-right: 100px;
}
.ticket > .company > .name {
    font-size: 16px;
    margin-bottom: 5px;
}
.ticket > .company > .info {
    font-size: 12px;
    color: #398efe;
}
.list > .ticket > .time {
    flex: 2;
    display: flex;
}
.ticket > .time .time {
    font-size: 30px;
}
.ticket > .time .loc {
    font-size: 12px;
}
.ticket > .time > .turn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ticket > .time > .turn > .count {
    width: 60px;
    height: 24px;
    margin-bottom: 5px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #eaeaea;
    z-index: 1;
}
.ticket > .time > .turn::before {
    position: absolute;
    left: 8px;
    top: 15px;
    width: 100px;
    height: 6px;
    background-color: #eaeaea;
    content: '';
}
.ticket > .cost {
    font-size: 14px;
}
.ticket > .detail {
    font-size: 14px;
    color: #0086f6;
    cursor: pointer;
}
.ticket > .detail:hover {
    text-decoration: underline;
}
.ticket > .price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    color: #ff680b;
}
.ticket > .price > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.ticket > .price > .info > .number {
    display: flex;
    align-items: flex-end;
}
.part1 {
    padding-bottom: 4px;
    font-size: 18px;
}
.part2 {
    font-size: 26px;
}
.part3 {
    padding-bottom: 6px;
    font-size: 12px;
    color: #000;
}
.ticket > .price > .info {
    text-align: right;
    margin-right: 20px;
}
.ticket > .price > .info > .tax {
    font-size: 12px;
    color: #999999;
}
.ticket > .price > .order {
    font-size: 14px;
    font-weight: bold;
    width: 60px;
    height: 36px;
    border-radius: 4px;
    color: #fff;
    background-color: #ff8202;
    cursor: pointer;
}
.ticket > .price > .order:hover {
    filter: brightness(1.1);
}

/* filters */
.choosen {
    border-top: 2px solid #0186f6;
}
.filters > *:hover {
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.1);
}
.filters .from_and_to {
    position: relative;
    display: flex;
}
.filters .from_and_to .exchange {
    position: absolute;
    left: calc(50% - 28px);
    top: calc(50% - 18px);
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    color: #666666;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    cursor: pointer;
}
.filters .from_and_to > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    cursor: pointer;
    transition: all linear 0.1s;
}
.filters .from_and_to .from {
    border-right: 1px solid #e3e3e3;
    padding: 0 20px;
}
.filters .from_and_to .to {
    padding: 0 30px;
}
.from_and_to .title {
    font-size: 12px;
    color: #999999;
}
.from_and_to .value {
    font-size: 16px;
}
.start_time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
.start_time .title {
    font-size: 12px;
    color: #999999;
}
.start_time .value {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
}
.start_time .value > * {
    width: fit-content;
}
.start_time .value .date1 {
    font-size: 16px;
    border: 0;
}
.start_time .value .date2 {
    color: #999999;
    margin-left: 10px;
}
.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
.type .title {
    font-size: 12px;
    color: #999999;
}
.type .value {
    display: flex;
    font-size: 16px;
}
.type .value > * {
    display: flex;
    align-items: center;
}
.type .value > * > input {
    border: 0;
    width: 40px;
    height: 20px;
    text-align: right;
    outline: none;
    padding-top: 3px;
}
.result_list > .title {
    display: flex;
    align-items: center;
}
.result_list > .title > * {
    width: fit-content;
    font-size: 18px;
}
.result_list > .title > .p1 {
    margin-right: 15px;
}
.result_list > .title > .p3 {
    width: 20px;
    height: 4px;
    margin: 0 5px;
    background-color: #ccc;
}
.result_list > .title > .p2,
.result_list > .title > .p4 {
    font-size: 22px;
    font-weight: bold;
}
.result_list > .title > .p5 {
    margin-left: 15px;
}
.from_and_to .chooseLoc {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: calc(100% + 10px);
    left: 0;
    width: 750px;
    height: 250px;
    background-color: #fff;
    z-index: 2;
    border: 1px solid #dddddd;
    border-radius: 10px;
    overflow: hidden;
    transition: opacity linear 0.1s;
}
.from_and_to .chooseLoc > .where {
    width: 120px;
    height: 100%;
    padding: 15px 10px;
    background-color: #f4f4f4;
    border-right: 1px solid #dddddd;
}
.from_and_to .chooseLoc > .where > div {
    color: #fff;
    background-color: #0086f6;
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
.from_and_to .chooseLoc > .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}
.from_and_to .filter {
    display: flex;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #dddddd;
}
.from_and_to .filter > .choosen1 {
    width: fit-content;
    text-align: center;
    margin: 0 15px;
    color: #0086f6;
    border-bottom: 2px solid #0086f6;
}
.from_and_to .itemList {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
    overflow-y: scroll;
}
.from_and_to .itemList .item {
    width: fit-content;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    text-align: center;
}
.from_and_to .itemList .item:hover {
    color: #0086f6;
    background-color: #f2f9ff;
}
.single {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.single > * {
    width: fit-content;
    margin: 0 10px;
}
.add {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #0086f6;
    border-radius: 5px;
    margin-top: 10px;
}
